Source: qname
Section: unknown
Priority: optional
Maintainer: Andrea Colangelo <warp10@debian.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://anonscm.debian.org/collab-maint/qname.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/qname.git;a=summary

Package: qname
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
